
<!-- ------------*---------------
   Section Name: All post Area

   Created by: Meshu Debnath
   -------------*--------------
-->

<div class="container-fluid contentWrapper">
  <div class="container">
    <div class="row">
      <div class="contentHeading alert">
        <h4>Recomended for you</h4>
      </div>

      <div class="col-sm-4">
        <div class="signlePost">

          <div class="coverImg">
            <a class="btn btn-link tagLine"><i class="fa fa-location-arrow"></i> Trending</a>
            <img src="../../assets/img/u1.jpg" class="img-responsive" alt="post image">
            <h4>Robert Meshu</h4>
          </div>

          <div class="progress">
            <div class="progress-bar" style="width: 60%;"></div>
          </div>

          <h4 class="amountDetails">$96,720 raised of $25k</h4>

          <p class="postText">
            Preston James Roberts was friend, family, teacher, and inspiration to thousands. In twenty-five
            years of public education and over three decades teaching at Turtle Island, his dedication to
            others..
          </p>

          <a href="#" class="read_more">+ Read More</a>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="signlePost">
          <div class="coverImg">
            <a class="btn btn-link tagLine"><i class="fa fa-location-arrow"></i> Trending</a>
            <img src="../../assets/img/p2.jpg" class="img-responsive" alt="post image">
            <h4>Robert Meshu</h4>
          </div>

          <div class="progress">
            <div class="progress-bar" style="width: 60%;"></div>
          </div>

          <h4 class="amountDetails">$96,720 raised of $25k</h4>

          <p class="postText">
            Preston James Roberts was friend, family, teacher, and inspiration to thousands. In twenty-five
            years of public education and over three decades teaching at Turtle Island, his dedication to
            others..
          </p>

          <a href="#" class="read_more">+ Read More</a>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="signlePost">

          <div class="coverImg">
            <a class="btn btn-link tagLine"><i class="fa fa-location-arrow"></i> Trending</a>
            <img src="../../assets/img/p1.JPG" class="img-responsive" alt="post image">
            <h4>Robert Meshu</h4>
          </div>

          <div class="progress">
            <div class="progress-bar" style="width: 60%;"></div>
          </div>

          <h4 class="amountDetails">$96,720 raised of $25k</h4>

          <p class="postText">
            Preston James Roberts was friend, family, teacher, and inspiration to thousands. In twenty-five
            years of public education and over three decades teaching at Turtle Island, his dedication to
            others..
          </p>

          <a href="#" class="read_more">+ Read More</a>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="signlePost">

          <div class="coverImg">
            <a class="btn btn-link tagLine"><i class="fa fa-location-arrow"></i> Trending</a>
            <img src="../../assets/img/u2.jpg" class="img-responsive" alt="post image">
            <h4>Robert Meshu</h4>
          </div>

          <div class="progress">
            <div class="progress-bar" style="width: 60%;"></div>
          </div>

          <h4 class="amountDetails">$96,720 raised of $25k</h4>

          <p class="postText">
            Preston James Roberts was friend, family, teacher, and inspiration to thousands. In twenty-five
            years of public education and over three decades teaching at Turtle Island, his dedication to
            others..
          </p>

          <a (click)="details_click()" class="read_more">+ Read More</a>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="signlePost">

          <div class="coverImg">
            <a class="btn btn-link tagLine"><i class="fa fa-location-arrow"></i> Trending</a>
            <img src="../../assets/img/u1.jpg" class="img-responsive" alt="post image">
            <h4>Robert Meshu</h4>
          </div>

          <div class="progress">
            <div class="progress-bar" style="width: 60%;"></div>
          </div>

          <h4 class="amountDetails">$96,720 raised of $25k</h4>

          <p class="postText">
            Preston James Roberts was friend, family, teacher, and inspiration to thousands. In twenty-five
            years of public education and over three decades teaching at Turtle Island, his dedication to
            others..
          </p>

          <a href="#" class="read_more">+ Read More</a>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="signlePost">

          <div class="coverImg">
            <a class="btn btn-link tagLine"><i class="fa fa-location-arrow"></i> Trending</a>
            <img src="../../assets/img/u2.jpg" class="img-responsive" alt="post image">
            <h4>Robert Meshu</h4>
          </div>

          <div class="progress">
            <div class="progress-bar" style="width: 60%;"></div>
          </div>

          <h4 class="amountDetails">$96,720 raised of $25k</h4>

          <p class="postText">
            Preston James Roberts was friend, family, teacher, and inspiration to thousands. In twenty-five
            years of public education and over three decades teaching at Turtle Island, his dedication to
            others..
          </p>

          <a href="#" class="read_more">+ Read More</a>
        </div>
      </div>

      <!-- total 6 post above -->

      <!-- ------------*---------------
         Pagination ::
         -------------*--------------
      -->
      <div class="clearfix"></div>
      <div class="alert viewMore">
        <a href="" class="h4">View More Campaigns</a>
      </div>
    </div>
  </div>
</div>
